{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Express Fornecedores
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Fornecedores</h3>
        
              <div class="box-tools">
                {% comment %} <div class="input-group">
                  <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div> {% endcomment %}
              </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding"> 
             
              <table class="table table-hover">
                <tr>
                  <th>Nome</th>
                  <th>Endereço</th>  
                  <th>Cidade</th>
                  <th>UF</th>
                  <th>Contato</th>
                  {% comment %} <th><a href="{% url 'fornecedor_novo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Cadastrar</a></th> {% endcomment %}
                </tr>
                {% for fornecedor in fornecedores %}
                <tr>
                  
                  <td>{{fornecedor.nome}}</td>  
                  <td>{{fornecedor.endereco}}</td>
                  <td>{{fornecedor.cidade}}</td>
                  <td>{{fornecedor.uf}}</td>
                  <td>{{fornecedor.telefone}}</td>
                  <td><span class="label label-success">{{produto.unidades_compradas}}</span></td>
                  {% comment %} <td width=9%><a href="{% url 'produto_detalhe' pk=produto.pk %}">Detalhes</a></td>
                  <td><a href="{% url 'produto_editar' pk=produto.pk %}">Editar</a></td>
                  <td><a href="{% url 'produto_deletar' pk=produto.pk %}">Excluir</a></td> {% endcomment %}
                </tr>
                {% endfor %}
              </table>
              
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
{% endblock %}